<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ingredient</title>
    <script type="text/javascript">

    </script>
  </head>
  <body>
    <div layout:fragment="content" class="container bg-white page">
      <br />
      <form>
        <p>재료 리스트</p>
        <hr />
        <span>고기류</span>
        <br />
        <label><input type="checkbox" name="ingredient" value="돼지고기" onclick = "getCheckboxValue(this)" />돼지고기</label>
        <label><input type="checkbox" name="ingredient" value="소고기" onclick = "getCheckboxValue(this)" />소고기</label>
        <label><input type="checkbox" name="ingredient" value="닭고기" onclick = "getCheckboxValue(this)"/>닭고기</label>
        <label><input type="checkbox" name="ingredient" value="생선" onclick = "getCheckboxValue(this)" />생선</label>
        <hr />
        <span>채소류</span>
        <br />
        <label><input type="checkbox" name="ingredient" value="배추" onclick = "getCheckboxValue(this)" />배추</label>
        <label><input type="checkbox" name="ingredient" value="무" onclick = "getCheckboxValue(this)" />무</label>
        <label><input type="checkbox" name="ingredient" value="당근" onclick = "getCheckboxValue(this)" />당근</label>
        <label><input type="checkbox" name="ingredient" value="고구마" onclick = "getCheckboxValue(this)" />고구마</label>
        <hr />
        <span>쌀</span>
        <br />
        <label><input type="checkbox" name="ingredient" value="쌀" onclick = "getCheckboxValue(this)" />쌀</label>
        <label><input type="checkbox" name="ingredient" value="잡곡" onclick = "getCheckboxValue(this)" />잡곡</label>
        <hr />
        <div id="getIngredientAxDiv">
          <th:block th:if="${getIngredientAxDiv != null}">
                <table class="table" border="1">
                    <tr>
                        <td style="font-weight: bold;text-align: center;">recipe명</td>
                        <td style="font-weight: bold;text-align: center;">조리분류</td>
                        <td style="font-weight: bold;text-align: center;">타입분류</td>
                        <td style="font-weight: bold;text-align: center;">이미지</td>
                        <td style="font-weight: bold;text-align: center;">레시피</td>
                        <td style="font-weight: bold;text-align: center;">칼로리</td>
                    </tr>
                    <tr height="200" th:each="recipe : ${getIngredientAxDiv}">
                        <td>
                            <a href="#" th:text="${recipe.rcpName}"
                                >
                                <!-- data-bs-target="#vanAddModal" -->
                            </a>
                        </td>
                        <td th:text="${recipe.rcpWay}"></td>
                        <td th:text="${recipe.rcpPat}"></td>
                        <td width="200" th:style="'background-image:url('+@{${recipe.attFileNoMain}} +'); background-size: 200px 200px;'"></td>
                        <td th:text="${recipe.rcpPartsDtls}"></td>
                        <td th:text="'칼로리 : ' + ${recipe.infoEng} + 'Kcal'"></td>
                        <!-- <td th:text="${recipe.MANUAL01}"></td>
                        <td th:text="${recipe.MANUAL02}"></td>
                        <td th:text="${recipe.MANUAL03}"></td>
                        <td th:text="${recipe.MANUAL04}"></td>
                        <td th:text="${recipe.MANUAL05}"></td>
                        <td th:text="${recipe.MANUAL06}"></td>
                        <td th:text="${recipe.MANUAL07}"></td>
                        <td th:text="${recipe.MANUAL08}"></td>
                        <td th:text="${recipe.MANUAL09}"></td>
                        <td th:text="${recipe.MANUAL10}"></td>
                        <td th:text="${recipe.MANUAL11}"></td>
                        <td th:text="${recipe.MANUAL12}"></td>
                        <td th:text="${recipe.MANUAL13}"></td>
                        <td th:text="${recipe.MANUAL14}"></td>
                        <td th:text="${recipe.MANUAL15}"></td>
                        <td th:text="${recipe.MANUAL16}"></td> -->
                    </tr>
                </table>
            </th:block>
            <th:block th:if="${getIngredientAxDiv == null} and ${recipe == null}">
                <span>조회된 데이터가 없습니다.</span>
            </th:block>
            <th:block th:if="${recipe != null}">
                <table class="table" border="1">
                    <tr>
                        <td style="font-weight: bold;text-align: center;">recipe명</td>
                        <td style="font-weight: bold;text-align: center;">조리분류</td>
                        <td style="font-weight: bold;text-align: center;">타입분류</td>
                        <td style="font-weight: bold;text-align: center;">이미지</td>
                        <td style="font-weight: bold;text-align: center;">레시피</td>
                        <td style="font-weight: bold;text-align: center;">칼로리</td>
                    </tr>
                    <tr height="200" th:each="recipe : ${recipe}">
                        <td>
                            <a href="#" th:text="${recipe.rcpName}"
                                data-bs-toggle="modal" >
                            </a>
                        </td>
                        <td th:text="${recipe.rcpWay}"></td>
                        <td th:text="${recipe.rcpPat}"></td>
                        <td width="200" th:style="'background-image:url('+@{${recipe.attFileNoMain}} +'); background-size: 200px 200px;'"></td>
                        <td th:text="${recipe.rcpPartsDtls}"></td>
                        <td th:text="'칼로리 : ' + ${recipe.infoEng} + 'Kcal'"></td>
                    </tr>
                </table>
            </th:block>
          </div>
        </div>
    </div>
  </body>
</html>
