<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script type="text/javascript">

    </script>
  </head>
  <body>
    <div layout:fragment="content" class="container bg-white page">
      <br />
      <h1>Recipe</h1>
      <form>
        <p>재료 리스트</p>
        <hr />
        <span>고기류</span>
        <br />
        <label><input type="checkbox" value="돼지고기" onclick = "getCheckboxValue(this)"/>돼지고기</label>
        <label><input type="checkbox" value="소고기" onclick = "getCheckboxValue(this)" />소고기</label>
        <label><input type="checkbox" value="닭고기" onclick = "getCheckboxValue(this)"/>닭고기</label>
        <label><input type="checkbox" value="생선" onclick = "getCheckboxValue(this)" />생선</label>
        <hr />
        <span>채소류</span>
        <br />
        <label><input type="checkbox" value="배추" onclick = "getCheckboxValue(this)" />배추</label>
        <label><input type="checkbox" value="무" onclick = "getCheckboxValue(this)" />무</label>
        <label><input type="checkbox" value="당근" onclick = "getCheckboxValue(this)" />당근</label>
        <label><input type="checkbox" value="고구마" onclick = "getCheckboxValue(this)" />고구마</label>
        <hr />
        <span>쌀</span>
        <br />
        <label><input type="checkbox" value="쌀" />쌀</label>
        <label><input type="checkbox" value="잡곡" />잡곡</label>
        <label><input type="checkbox" value="쌀" />쌀</label>
      </form>
    </div>
  </body>
</html>
