<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    </style>
</head>

<body>
    <div layout:fragment="content" class="container bg-white page">
    <br>
    <h1>Recipe</h1>
        <p>레시피 리스트</p>
        <p>조회</p>
        <hr>
        <label>이름
            <input id="name" type="text" style="width:400px;" placeholder="입력하시오." list="recipe" onchange="getProduct()">
            <datalist id="recipe">
                <option th:each="recipe : ${recipe}"
                    th:text="${recipe.RCP_NM}"></option>
            </datalist>
        </label>
        <hr>
        <label>타입
            <select id="way" onchange = "rangeChange()">
                <option value="">선택</option>
                <option value="볶기">볶기</option>
                <option value="굽기">굽기</option>
                <option value="찌기">찌기</option>
                <option value="끓이기">끓이기</option>
                <option value="기타">기타</option>
            </select>
        </label>

        <label>분류
            <select id="type" onchange = "rangeChange()">
                <option value="">선택</option>
                <option value="밥">밥</option>
                <option value="반찬">반찬</option>
                <option value="국&찌개">국&찌개</option>
                <option value="후식">후식</option>
                <option value="일품">일품</option>
            </select>
        </label>

        <label>칼로리
            <input type="range" id="jsRange" value="1000" min="0" max="800" step="100" onchange = "rangeChange()" oninput="document.getElementById('rangeValue').innerHTML=this.value;">
            <span id="rangeValue">800</span>
        </label>
        <hr>
        <div id="getProductAxDiv">
            <th:block th:if="${getProductAxDiv != null}">
                <table class="table" border="1">
                    <tr>
                        <td style="font-weight: bold;text-align: center;">recipe명</td>
                        <td style="font-weight: bold;text-align: center;">조리분류</td>
                        <td style="font-weight: bold;text-align: center;">타입분류</td>
                        <td style="font-weight: bold;text-align: center;">이미지</td>
                        <td style="font-weight: bold;text-align: center;">레시피</td>
                        <td style="font-weight: bold;text-align: center;">칼로리</td>
                    </tr>
                    <tr height="200" th:each="recipe : ${getProductAxDiv}">
                        <td>
                            <a href="#" th:text="${recipe.RCP_NM}"
                                data-bs-toggle="modal" >
                                <!-- data-bs-target="#vanAddModal" -->
                            </a>
                        </td>
                        <td th:text="${recipe.RCP_WAY2}"></td>
                        <td th:text="${recipe.RCP_PAT2}"></td>
                        <td width="200" th:style="'background-image:url('+@{${recipe.ATT_FILE_NO_MAIN}} +'); background-size: 200px 200px;'"></td>
                        <td th:text="${recipe.RCP_PARTS_DTLS}"></td>
                        <td th:text="'칼로리 : ' + ${recipe.INFO_ENG} + 'Kcal'"></td>
                        <!-- <td th:text="${recipe.MANUAL01}"></td>
                        <td th:text="${recipe.MANUAL02}"></td>
                        <td th:text="${recipe.MANUAL03}"></td>
                        <td th:text="${recipe.MANUAL04}"></td>
                        <td th:text="${recipe.MANUAL05}"></td>
                        <td th:text="${recipe.MANUAL06}"></td>
                        <td th:text="${recipe.MANUAL07}"></td>
                        <td th:text="${recipe.MANUAL08}"></td>
                        <td th:text="${recipe.MANUAL09}"></td>
                        <td th:text="${recipe.MANUAL10}"></td>
                        <td th:text="${recipe.MANUAL11}"></td>
                        <td th:text="${recipe.MANUAL12}"></td>
                        <td th:text="${recipe.MANUAL13}"></td>
                        <td th:text="${recipe.MANUAL14}"></td>
                        <td th:text="${recipe.MANUAL15}"></td>
                        <td th:text="${recipe.MANUAL16}"></td> -->
                    </tr>
                </table>
            </th:block>
            <th:block th:if="${getProductAxDiv == null} and ${recipe == null}">
                <span>조회된 데이터가 없습니다.</span>
            </th:block>
            
            <th:block th:if="${recipe != null}">
                <table class="table" border="1">
                    <tr>
                        <td style="font-weight: bold;text-align: center;">recipe명</td>
                        <td style="font-weight: bold;text-align: center;">조리분류</td>
                        <td style="font-weight: bold;text-align: center;">타입분류</td>
                        <td style="font-weight: bold;text-align: center;">이미지</td>
                        <td style="font-weight: bold;text-align: center;">레시피</td>
                        <td style="font-weight: bold;text-align: center;">칼로리</td>
                    </tr>
                    <tr height="200" th:each="recipe : ${recipe}">
                        <td>
                            <a href="#" th:text="${recipe.RCP_NM}"
                                data-bs-toggle="modal" >
                                data-bs-target="#vanAddModal"
                            </a>
                        </td>
                        <td th:text="${recipe.RCP_WAY2}"></td>
                        <td th:text="${recipe.RCP_PAT2}"></td>
                        <td width="200" th:style="'background-image:url('+@{${recipe.ATT_FILE_NO_MAIN}} +'); background-size: 200px 200px;'"></td>
                        <td th:text="${recipe.RCP_PARTS_DTLS}"></td>
                        <td th:text="'칼로리 : ' + ${recipe.INFO_ENG} + 'Kcal'"></td>
                    </tr>
                </table>
            </th:block>
        </div>
    </div>
</body>
</html>