<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Recipe</h1>
    <form method="post" action="/search">
        <p>레시피 리스트</p>
        <table class="table">
            <tr>
                <td style="font-weight: bold;text-align: center;">recipe명</td>
                <td style="font-weight: bold;text-align: center;">recipe명</td>
                <td style="font-weight: bold;text-align: center;">recipe명</td>
                <td style="font-weight: bold;text-align: center;">recipe명</td>
            </tr>
            <tr th:each="recipe : ${recipe}">
                <td th:text="${recipe.RCP_NM}">hi</td>
            </tr>
        </table>
    </form>
</body>
</html>